<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>

		<add key="dbCon" value="host=103.228.83.115; Username=postgres; Password=sqlpass; Database=Mcyprod"/>
		<add key="file_location" value="D:\TestFolders\testing_files"/>
		<add key="spft_host" value="10.252.252.180"/>
		<add key="sftp_user" value="sfpeqportapp"/>
		<add key="sftp_password" value="Secure@123"/>
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
		<add key="sftp_upload_path" value="/sftphome/SFTPUTIWebsite/BBGMIS/BBG/"/>

		<add key="upload_file_list" value="HistoricalIndices,_SPBSE_SENSEX_NCS_CLS.SDC,_SPBSE_100_NCS_CLS.SDC,_SPBSE_100_NCS_ADJ.SDC,_SPBSE_SENSEX_NCS_ADJ.SDC,_SPBSE_200_NCS_CLS.SDC,_SPBSE_200_NCS_ADJ.SDC,_SPBSHLIP_NCS_CLS.SDC,_SPBSHLIP_NCS_ADJ.SDC,_SPBSN5IP_NCS_ADJ.SDC,_SPBSN5IP_NCS_CLS.SDC,_SPBSLVIP_NCS_ADJ.SDC,_SPBSLVIP_NCS_CLS.SDC"/>
		<add key="ErrorLogFile" value=""/>
		<add key="Is_Upload" value="true"/>
		<add key="Is_Download" value="false"/>
	</appSettings>
</configuration>