<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<connectionStrings>
		<add name="dbCon" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST= 10.11.30.156)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=mcyprod)));User Id=msci;Password=icsm;"/>
	</connectionStrings>
	<appSettings>

		<add key="JsonDataPath" value="D:\Cylsys\Index_ReaderUtility\SFTP Files\result.json"/>
		<add key="SFTPhost" value="59.163.45.242"/>
		<add key="SFTPport" value="22"/>
		<add key="SFTPusername" value="sftpmsci"/>
		<add key="SFTPpassword" value="$FTPm$c1"/>
		<add key="SFTPFile" value="result.json"/>
		<add key="IsConsoleHide" value="1"/>
		<add key="DownloadfileDir" value="D:\Cylsys\Index_ReaderUtility\SFTP Files"/>
		<add key="DestinationDirectory" value="D:\TestFolders\Index Download\Result_File"/>
		<add key="fileNameSuffix" value="result.json,HealthCare_index.xls,BSE_index.xls,BSE_100_index.xls,BSE_200_index.xls,HistoricalIndices,BSE_Next_50_index.xls"/>
		<add key="IndexNames" value="FBIL INR Value,SP Indices BSE 100 Index,SP Indices BSE 200 Index,Asia Index Health Care,Asia Index BSE Sensex,LBMA Gold Rate,LBMA Silver Rate"/>



		<!--setting for crisil-->
		<add key="Excel03ConString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1};IMEX=1'"/>
		<add key="Excel07ConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>

		<add key="POPPort" value="110"/>
		<add key="UseSSL" value="False"/>

		<add key="log4net-config-file" value="D:\Shashi\UTI_Project\bilavprj21OCT2014\bin\Debug\log4net.xml"/>
		<add key="file_move_to_path" value="D:\Cylsys Utility\INDEX-DOWNLOAD-UTILITY\Folders\IndexvalFileBack\"/>

		<add key="PrimaryMailServer" value="10.11.30.102"/>
		<add key="MailServerPort" value="110"/>
		<add key="MailServerSSL" value="false"/>
		<add key="CorporateEmailId" value="Bilav.Feeds@uti.co.in"/>
		<add key="CorporateEmailPass" value="Ut!@0101"/>
		<add key="MailReceviedFrom" value="ghanshyam.vishwakarma@cylsys.com"/>
		<add key="MailFromCRISIL" value="ghanshyam.vishwakarma@cylsys.com"/>
		<!--shashi.maurya@cylsys.com-->

		<add key="EmailToRecipients" value="ghanshyam.vishwakarma@cylsys.com"/>
		<add key="AttachmentDownloadDir" value="D:\Cylsys\Index_ReaderUtility\AttachmentDownloadDir"/>
		<add key="MoveDirectory" value="D:\Cylsys\Index_ReaderUtility\FinalDownloadDir"/>
		<add key="ErrorLogFile" value="D:\Cylsys\Index_ReaderUtility\Log_File"/>
		<add key="FolderNameSuffix" value=".xlsx,.xls"/>


		<add key="FolderName" value="UTI Index values"/>
		<add key="Subject" value="CRISIL Indices Standard UTI as on date"/>
		<add key="SMTPPort" value="587"/>
		<add key="SMTPServer" value="mail.cylsys.com"/>

		<add key="IsRunCrisil" value="0"/>
		<add key="IsRunNormal" value="1"/>
		<add key="time" value="20:50"/>
		<add key="running_status" value="on"/>
		<add key="CreateIndex_StartTime" value="12:00"/>
		<add key="AmfiPortalIndex" value="CRISIL Short Term Bond Fund Index,CRISIL Liquid Fund Index,CRISIL 10 Year Gilt Index,CRISIL Dynamic Gilt Index,CRISIL Hybrid 35+65 - Aggressive Index,CRISIL Hybrid 85+15 - Conservative Index,CRISIL Short Term Debt Hybrid 75+25 Fund Index,CRISIL Short Term Debt Hybrid 60+40 Fund Index,CRISIL Overnight Index,CRISIL Money Market Index,CRISIL Ultra Short Term Debt Index,CRISIL Low Duration Debt Index,CRISIL Medium Term Debt Index,CRISIL Medium To Long Term Debt Index,CRISIL Dynamic Debt Index,CRISIL Corporate Bond Composite Index,CRISIL Banking and PSU Debt Index,CRISIL Arbitrage Index,CRISIL Equity Savings Index,I-Sec Si-BEX,I-Sec Mi-BEX,I-Sec Li- BEX,CRISIL Composite Bond Fund Index"/>

	</appSettings>
</configuration>
